params {
    queue_size = 50
    submit_rate_limit = '50/2min'
    results_dir = "./nextflow_results"
    manifest = ""
    reference = ""
}


profiles {

    standard {
        docker {
            enabled = true
        }
    }

    // Basic configuration for Nextflow LSF management on the Sanger farm.
    sanger_lsf {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software"
        }

        process {
            cpus = 1
            memory = "2GB"
            queue = "long"
            errorStrategy = {task.attempt <= 2 ? "retry" : "terminate"}
            maxRetries = 1

            withName:CRAM2BAM {
                cpus = 1
                memory = 20.GB
                queue = "long"
                executor = "lsf"
            }

            withName:BAM2FASTQ {
                cpus = 1
                memory = 20.GB
                queue = "long"
                executor = "lsf"
            }

            withName:GZIP_FASTQ {
                cpus = 1
                memory = 5.GB
                queue = "long"
                executor = "lsf"
            }
        }
        executor {
            name = "lsf"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = params.queue_size
            submitRateLimit = params.submit_rate_limit
            jobName = { "CRAM_TO_FASTQ - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}

